.three-plans{
	width: 100%;
	height: auto;font-family: 'Poppins',cursive;

}

.plans{
	width: 100%;
	height: 84vh;background-color:black;


    & .in-plan{
	   width: 90%;
	   margin: auto;display: flex;flex-direction: column;grid-gap: 30px;height: 80vh;


	   & .in-plan-heading{
	   	font-size: 30px;
	   	text-align: center;color: white;letter-spacing: 2px;
	   }

	   & .all-plans{display: flex;flex-direction: row;grid-gap:50px;color: white;


           & .left-plan{
              	width:30%;
              	height: 67.7vh;z-index: 1;display: flex;flex-direction: column;grid-gap:30px;
              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              


              	& .left-heading{margin-top: 60px;display: flex;flex-direction: column;grid-gap:5px;
              			z-index: 1;text-align: center;

              			& h1{
              				font-size: 20px;
              			}
              			& h2{
              				font-size: 29px;
              			}
              			& h3{
              				font-size: 18px;position:relative;
              			}
              		

              			
              		}

              		& .left-bottom{display: flex;flex-direction: column;grid-gap:15px;

              			& h1{letter-spacing: 1px;word-spacing: 2px;
              				font-size: 15px;text-align: center;              			}
              		}

              		& .btn{

              			& button{
              			padding: 5px 19px;background-color:transparent;border: none;outline: none;color: white;
              			font-weight: 900;font-size: 15px;letter-spacing: 2px;
              			border:1px solid #fcaa22;
              		}
                   
                   }                
                }

              	& .left-plan::after{z-index: -1;
              		content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	font-size: 30px;
              		height: 67vh;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);


              		
              	}
                
                & .enroll-now{cursor: pointer;
                }



              	& .enroll-now::before{
              		z-index: 1;background-color:white;padding:15px;
              		content: attr(enroll);font-size: 17px;color: black;font-weight: 900;letter-spacing: 2px;

              		position:absolute;text-align: right;
              	

         clip-path: ellipse(35% 40% at 89% 0%);
transition: all 1s ease;
       
            height: 150px;width: 350px;top: 0;right: 0;


              		
              	}     & .enroll-now:hover::before{cursor: pointer;background-color:black;color: white;transition: all 1s ease;
                }









              	  & .right-plan{display: flex;flex-direction: column;grid-gap:30px;
              	width:30%;
              	height: 67.7vh;z-index: 1;
              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
                
               	& .right-heading{margin-top: 60px;
              			z-index: 1;font-size: 30px;text-align: center;display: flex;flex-direction: column;grid-gap:10px;

              			& h1{
              				font-size: 20px;
              			}
              			& h2{
              				font-size: 29px;
              			}
              			& h3{
              				font-size: 18px;
              			}
              			
              		}

              		& .right-bottom{display: flex;flex-direction: column;grid-gap:15px;

              			& h1{
              				font-size: 15px;text-align: center;letter-spacing: 1px;word-spacing: 2px;
              			}
              		}
                
                }
              	& .right-plan::after{
              		content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	
              		height: 67vh;z-index: -1;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              	}






              & .mid-plan{display: flex;flex-direction: column;grid-gap:30px;
		              	width:30%;
		              	height: 67.7vh;z-index: 1;
		              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
		                
               	& .mid-heading{margin-top: 60px;
              			z-index: 1;font-size: 30px;text-align: center;display: flex;flex-direction: column;grid-gap:10px;

              			& h1{
              				font-size: 20px;
              			}
              			& h2{
              				font-size: 29px;
              			}
              			& h3{
              				font-size: 18px;
              			}
              			
              		}

              		& .mid-bottom{display: flex;flex-direction: column;grid-gap:15px;

              			& h1{letter-spacing: 1px;word-spacing: 2px;
              				font-size: 15px;text-align: center;
              			}
              		}
                
                }
              	& .mid-plan::after{
              		content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	
              		height: 67vh;z-index: -1;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              	}


	   }
   


   }


}








@media(max-width: 425px){








	.plans{
	width: 100%;background-color:black;
	height: auto;margin: 0px;


    & .in-plan{
	   width: 90%;
	   margin: auto;display: flex;flex-direction: column;grid-gap: 30px;height:auto;


	   & .in-plan-heading{color: white;
	   	font-size: 20px;
	   	text-align: center;margin-top: 30px;font-weight: 100;letter-spacing: 2px;font-family: 'Poppins',cursive;text-transform: uppercase;word-spacing: 2px;letter-spacing: 1px;
	   }

	   & .all-plans{display: flex;flex-direction: column;grid-gap:0px;color: white;margin-bottom: 30px;


           & .left-plan{
              	width:100%;
              	height: 75.7vh;z-index: 1;display: flex;flex-direction: column;grid-gap:40px;
              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              


              	& .left-heading{margin-top: 60px;
              			z-index: 1;font-size: 30px;text-align: center;

              			& h1{
              				font-size: 15px;letter-spacing: 2px;
              			}
              			& h2{
              				font-size: 25px;color: #fcaa22;
              			}
              			& h3{
              				font-size: 13px;
              			}
              			
              		}

              		& .left-bottom{display: flex;flex-direction: column;grid-gap:10px;

              			& h1{
              				font-size: 13px;text-align: center;
              			}
              		}
                
                }

              	& .left-plan::after{z-index: -1;
              		content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	font-size: 30px;
              		height: 75vh;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);


              		
              	}


              	     & .enroll-now{cursor: pointer;
                }



              	& .enroll-now::before{
              		z-index: 1;background-color:white;padding:8px;
              		content: attr(enroll);font-size: 13px;color: black;font-weight: 900;letter-spacing: 1px;

              		position:absolute;text-align: right;
              	

         clip-path: ellipse(35% 40% at 89% 0%);
transition: all 1s ease;
       
            height: 100px;width: 230px;top: 0;right: 0;


              		
              	}     & .enroll-now:hover::before{cursor: pointer;background-color:black;color: white;transition: all 1s ease;
                }












              & .right-plan{	width:100%;color: white;
              	height: 75.7vh;z-index: 1;display: flex;flex-direction: column;grid-gap:40px;
              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
		                
               	& .right-heading{margin-top: 60px;
              			z-index: 1;font-size: 30px;text-align: center;
	& h1{
              				font-size: 15px;letter-spacing: 2px;
              			}
              			& h2{
              				font-size: 25px;color: #fcaa22;
              			}
              			& h3{
              				font-size: 13px;
              			}
              			
              		}

              		& .right-bottom{display: flex;flex-direction: column;grid-gap:10px;

              			& h1{
              					font-size: 12px;text-align: center;
              			}
              		}
                
                }
              	& .right-plan::after{
              	content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	
              		height: 75vh;z-index: -1;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              	}





              & .mid-plan{	width:100%;
              	height: 75.7vh;z-index: 1;display: flex;flex-direction: column;grid-gap:40px;
              	background-color: #fcaa22;position: relative; clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);color: white;
		                
               	& .mid-heading{margin-top: 60px;
              			z-index: 1;font-size: 30px;text-align: center;

              			& h1{
              				font-size: 15px;letter-spacing: 2px;
              			}
              			& h2{
              				font-size: 25px;color: #fcaa22;
              			}
              			& h3{
              				font-size: 13px;
              			}
              			
              		}

              		& .mid-bottom{display: flex;flex-direction: column;grid-gap:10px;

              			& h1{
              					font-size: 12px;text-align: center;
              			}
              		}
                
                }
              	& .mid-plan::after{
              	content: '';position:absolute;top: 0.3vh;right: 0.5%;
              	
              		height: 75vh;z-index: -1;
              		width: 99%;
              		background-color:black;clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);
              	}


	   }
   


   }


}




}