.section3{
width: 100%;
height:auto;




& .in-sec3{height: 40vh;

background-color: black;position: relative;top: -100px;margin-bottom: -100px;

clip-path: polygon(0 53%, 100% 0, 100% 100%, 0% 100%);

}


}








@media(max-width: 425px){
.section3{
width: 100%;
height:auto;




& .in-sec3{height: 10vh;

background-color: black;position: relative;top: 0px;margin-bottom: 00px;

clip-path: polygon(0 23%, 100% 0, 100% 100%, 0% 100%);

}


}




}