.sec2{
    width: 100%;
    height:auto;
    position:relative;
}




.section2{
	width: 90%;
	margin: auto;position:relative;
	display: flex;justify-content: center;align-items: center;height: auto;


    & .in-sec2{
	width: 100%;
	height: auto;position: relative;top: -100px;display: flex;flex-direction: column;grid-gap: 40px;


		  & .box1{
			width: 80%;margin: auto;display: flex;flex-direction: column;grid-gap: 30px;font-family: 'poppins';

	padding: 30px 40px;
			background: rgb(34,28,28);
		background: linear-gradient(90deg, rgba(34,28,28,1) 4%, rgba(36,33,33,1) 100%);
		padding-bottom: 60px;

		   & .box1-svg{

		   	   background-image: url(../../../images/pilates.svg);
		   	   height: 100px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box1-txt1, .box1-txt2{
		   	color: white;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box1-txt1{
		   	font-size: 25px;font-weight: 900;letter-spacing: 2px;
		   }

           & .box1-txt2{
           	font-size: 13px;
           }


		} 
		  & .box2{
		width: 80%;margin: auto;display: flex;flex-direction: column;grid-gap: 30px;font-family: 'poppins';

		padding: 25px 40px;
			background: #fcaa22;padding-bottom: 60px;


		      & .box2-svg{

		   	   background-image: url(../../../images/pt.svg);
		   	   height: 100px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box2-txt1, .box2-txt2{
		   	color: black;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box2-txt1{
		   	font-size: 25px;font-weight: 900;
		   }

           & .box2-txt2{
           	font-size: 13px;
           }



         
		}
		& .box3{
	width: 80%;margin: auto;display: flex;flex-direction: column;grid-gap: 30px;font-family: 'poppins';;

	padding: 25px 40px;
			background: #fcaa22;padding-bottom: 60px;


		      & .box3-svg{

		   	   background-image: url(../../../images/yogs.svg);
		   	   height: 100px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box3-txt1, .box3-txt2{
		   	color: black;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box3-txt1{
		   	font-size: 25px;font-weight: 900;
		   }

           & .box3-txt2{
           	font-size: 13px;
           }

           



    }



  }
 
 }

.sec2-image{
	width: 80%;
	margin: auto;

   & .image1{
	background-image:url(../../../images/exercise.png);
	width: 700px;
	height: 450px;
	transform: rotateX(10deg) rotateY(-10deg) rotateZ(-5deg);
	object-fit: contain;object-position: center;

}
}




 @media(max-width: 425px){



 	.section2{
	width: 90%;
	margin: auto;position:relative;
	display: flex;justify-content: center;align-items: center;height: auto;


    & .in-sec2{
	width: 100%;
	height: auto;position: relative;top: -100px;display: flex;flex-direction: column;grid-gap: 40px;


		  & .box1{
			width: 100%;display: flex;flex-direction: column;grid-gap: 20px;font-family: 'poppins';

	padding: 20px 20px;
			background: rgb(34,28,28);
		background: linear-gradient(90deg, rgba(34,28,28,1) 4%, rgba(36,33,33,1) 100%);
		padding-bottom: 20px;

		   & .box1-svg{

		   	   background-image: url(../../../images/pilates.svg);
		   	   height: 70px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box1-txt1, .box1-txt2{
		   	color: white;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box1-txt1{
		   	font-size: 15px;font-weight: 900;letter-spacing: 2px;
		   }

           & .box1-txt2{
           	font-size: 10px;
           }


		} 
		  & .box2{
		width: 100%;display: flex;flex-direction: column;grid-gap: 20px;font-family: 'poppins';

		padding:20px 20px;
			background: #fcaa22;padding-bottom: 20px;


		      & .box2-svg{

		   	   background-image: url(../../../images/pt.svg);
		   	   height: 70px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box2-txt1, .box2-txt2{
		   	color: black;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box2-txt1{
		   	font-size: 15px;font-weight: 900;
		   }

           & .box2-txt2{
           	font-size: 10px;
           }



         
		}
		& .box3{
	width:100%;display: flex;flex-direction: column;grid-gap: 20px;font-family: 'poppins';;

	padding: 20px 20px;
			background: #fcaa22;padding-bottom: 20px;


		      & .box3-svg{

		   	   background-image: url(../../../images/yogs.svg);
		   	   height: 70px;background-size: contain;
		   	   background-repeat: no-repeat;


		   }
		   & .box3-txt1, .box3-txt2{
		   	color: black;letter-spacing: 1px;word-spacing: 5px;
		   }


		   & .box3-txt1{
		   	font-size: 15px;font-weight: 900;
		   }

           & .box3-txt2{
           	font-size: 9px;
           }

  

    }

  }
 
 }


.sec2-image{
	width: 100%;
margin: auto;

   & .image1{
	background-image:url(../../../images/exercise.png);
	width: 280px;margin: auto;
	height: 150px;
	transform: rotateX(10deg) rotateY(-10deg) rotateZ(-5deg);
background-size:contain;background-repeat:no-repeat;

}
}


 }